.CARD{
width: 300px;
border: 2px solid#333;
padding: 15px;
border-radius: 10px;
background-color: rgba(0, 77, 128, 0.103);
margin: 50px;
margin: 0 auto;
}
p{
color: darkblue;




}

.button{

    text-align: left;
}




